.profile-photo{
    position: absolute;
width: 93px;
height: 93px;
left: 50px;
top: 117px;


border-radius: 5px;
}
.profile-title{
    position: absolute;
width: 94px;
height: 23px;
left: 160px;
top: 127px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;


color: #002F2C;
}
.profile-description{
    position: absolute;
width: 129px;
height: 20px;
left: 160px;
top: 151px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;


color: #646464;
}
.profile-followers{
    position: absolute;
width: 75.11px;
height: 28.06px;
left: 160px;
top: 172px;
}
.navigation{
  
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 298px;
height: 220px;
left: 50.91px;
top: 256.81px;
}

.profilehr{

position: absolute;
width: 299px;
height: 0px;
left: 50px;
top: 237px;


border: 1px solid #C0C0C0;
}

  